*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    user-select: none;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(36, 13, 13);
    position: fixed;
    top: 0;
    padding: 5px 40px;
    flex-wrap: wrap;
    z-index: 10;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}
nav li{
    padding: 10px ;
    font-size: 22px;
}
nav li:hover{
    color: #29d9d5;
}
a{
    text-decoration: none;
}
i{
    color: #29d9d5;
    font-size: 32px;
    padding: 5px;
}
.camera{
    display: flex;
    justify-content: center;
    align-items: center;
}
.trial{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #29d9d5;
    border: 2px solid #29d9d5;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    font-weight: bolder;
    text-shadow: 0px 0px 3px cadetblue;
    flex-wrap: wrap;
}
.trial:hover{
    background-color: cadetblue;
    color: white;
}
main{
    padding: 70px;
}
.p{
    background-color: bisque;
    padding: 20px;
    border-radius: 10px;
}
.p h2{
    color: blue;
    padding: 2px;
}
.p p{
    color: black;
}
.pics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 10px;

}
.pic{
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    background-position: center;
    transition: 1s;
}
.pic:hover{
    background-color: rgba(129, 127, 126, 0.571);
    background-image: url("./images/cam.png");
    background-size: 200px;
    background-repeat: no-repeat;
    filter: grayscale(2);
    cursor: pointer;
}

.p1{
    background-image: url("1.jpg");
}
.p2{
    background-image: url("2.jpg");
}
.p3{
    background-image: url("3.jpg");
}
.p4{
    background-image: url("4.jpg");
}
.p5{
    background-image: url("5.jpg");
}
.p6{
    background-image: url("6.jpg");
}
.banner{
    width: 100%;
    background-image: url("7.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px 100px;
}
.banner h3{
    color:#29d9d5;
    font-size: 30px;
    padding: 20px;
    text-shadow: 0px 0px 3px cadetblue;
}
.banner h1{
    font-size: 70px;
    text-shadow: 2px 2px 3px black;
}
.banner p{
    text-align: center;
    padding: 10px;
    opacity: .7;
}
footer{
    background-color: rgb(36, 13, 13);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 70px 20px;
}
.pa,.c,.in{
    width: 400px;
    padding: 10px 20px;
    font-size: 22px;
}
.pa h3,.c h3,.in h3{
    padding: 20px;
}
.pa p,.c p,.in p{
    padding: 10px;
    opacity: .7;
}
.in input{
    width: 300px;
    height: 40px;
    background-color:transparent;
    border: 2px solid #29d9d5;
    border-radius: 10px;
    padding: 5px;
    margin: 20px 0px;
}
@media screen and (max-width:900px) {
    .pics{
        grid-template-columns: 1fr 1fr;
    }
    main{
        padding: 200px 50px;
    }
}
@media screen and (max-width:500px ){
    .pics{
        grid-template-columns : 1fr;
    }
    main{
        padding: 250px 10px;
    }
}